<html>
    <head>
        <title>{{ title }} - Index</title>
        <!-- minify -->
        <link href="https://unpkg.com/nes.css@2.2.0/css/nes.min.css" rel="stylesheet" />
        <!-- latest -->
        <link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />
        <!-- core style only -->
        <link href="https://unpkg.com/nes.css/css/nes-core.min.css" rel="stylesheet" />
    </head>
    <body>
        <h1>Hello, {{ user.username }}!</h1>
    </body>
</html>